@font-face {
  font-family: "bold";   /*Can be any text*/
  src: local("NivaAltBold"),
    url("./charliecorp/fonts/Niva-Alt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "light";   /*Can be any text*/
  src: local("NivaAltLight"),
    url("./charliecorp/fonts/Niva-Alt-Light.ttf") format("truetype");
}


/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700;900&display=swap');

.app {
  min-height: 140vh;
  background-color: rgba(137, 144, 150, 0.089);
}

h1 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}
*/
